.landscape{
  .fish{
        bottom: 63%;
        width: 100px;
        left: 75%;
        height: 50px;
        border-radius: 30% 70% 70% 30%/50% 102% 10% 50%;
//        background: radial-gradient(circle at 0% 50%, transparent 20%, rgba(255,255,255,1) 21%, rgba(255,255,255,1) 34%, transparent 35%, transparent), radial-gradient(circle at 0% 50%, transparent 20%, rgba(255,255,255,1) 21%, rgba(255,255,255,1) 34%, transparent 35%, transparent) 8px 5px;
//        background-size: 16px 16px;
        background-color: #FFE800;
        border-top: 10px solid rgba(0, 0, 0, 0.3);
        -webkit-transform-origin: 0 300px;
        -webkit-transform: rotate(10deg);
        transform-origin: 0 300px;
        transform: rotate(10deg);
    }
    .fish:before{
        position: absolute;
        display: block;
        content: "\00b7";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 20px 40px 0px 0px;
        border-color: transparent  #FFE800 transparent transparent;
        right: 33px;
        -webkit-transform: rotate(6deg);
        transform: rotate(6deg);
        line-height: 48px;
        padding-right: 21px;
        letter-spacing: 89px;
        color: #773800;
        font-size: 80px;
        top: -24px;
    }
    .fish:after{
        position: absolute;
        display: block;
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 15px 38px 13px 0;
        border-color: transparent #FFC65E transparent transparent;
        right: -34px;
        bottom: -5px;
        -webkit-transform-origin: 0px 10px;
        transform-origin: 0px 10px;
        -webkit-transform: rotate(36deg);
        transform: rotate(36deg);
    //    bottom: -6px;
    //    box-shadow: 0px 20px 20px rgba(0,0,0,0.4);
    }
    .fish:nth-child(2){
      background-color: #FD7512;
    //  box-shadow: inset 5px 11px 16px 2px #FF0000, 0px 20px 3px rgba(0, 0, 0, 0.4);
      -webkit-transform:  rotate(6deg) scale(-0.7,0.7);
      transform:  rotate(6deg) scale(-0.7,0.7);
    }

    .fish:nth-child(2):before{
        border-color: transparent #D30000 transparent transparent;
    }
    .fish:nth-child(2):after{
        border-color: transparent #FF0000 transparent transparent;
    }
}
